<p id="notice"><%= notice %></p>

<%
  nodes = [
    {
      name: 'Other Volunteer Work',
      url: volunteer_works_path
    },
    {
      name: '(you are here)',
      url: '',
      target: [0]
    },
    {
      name: 'Home',
      url: '/',
      target: [0]
    }
  ]
%>

<div class="ui vertical masthead center aligned segment">
  <h1 class="ui header">Volunteer Work</h1>
</div>

<div class="ui text container">

  <p>
    <strong>Name:</strong>
    <%= @volunteer_work.name -%>
  </p>

  <p>
    <strong>Company:</strong>
    <%= @volunteer_work.company -%>
  </p>

  <p>
    <strong>Dates:</strong>
    <% if !@volunteer_work.dates.empty? -%>
      <%= @volunteer_work.dates.map{|date| date.to_s }.join(", ").html_safe %>
    <% end -%>
  </p>

  <p>
    <strong>City:</strong>
    <% if !@volunteer_work.city.empty? -%>
      <% @volunteer_work.city.each do |city| -%>
        <%- nodes.push({name: city.name, url: city_url(city), target: [1] }) -%>
        <%= link_to city.name, city %>
      <% end -%>
    <% end -%>
  </p>

  <p>
    <strong>Province:</strong>
    <% if !@volunteer_work.province.empty? -%>
      <% @volunteer_work.province.each do |province| -%>
        <%= link_to province.name, province %>
      <% end -%>
    <% end -%>
  </p>

  <p>
    <strong>Skills:</strong>
    <% if !@volunteer_work.skills.empty? -%>
      <div class="ui bulleted list">
        <% @volunteer_work.skills.each do |skills| -%>
          <div class="item"><%= link_to skills.name, skills %></div>
        <% end -%>
      </div>
    <% end -%>
  </p>

  <p>
    <strong>Tags:</strong>
    <% if !@volunteer_work.tags.empty? -%>
      <%= @volunteer_work.tags.map{|tag| link_to(tag.name, tag) }.join(", ").html_safe %>
    <% end -%>
  </p>
</div>


<script type="text/javascript">
  var nodes = <%= raw nodes.to_json %>;
</script>
<script type="text/javascript" src="/js/ResumeIndexMenuinD3.js"></script>