<p id="notice"><%= notice %></p>

<div class="ui very padded container ">
  <h1>Education</h1>

  <table class="ui very basic celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>More info</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Company</th>
        <th>City</th>
        <th>Province</th>
      </tr>
    </thead>

    <tbody>
      <% @educations.all.sort { |b,a| a.end_date <=> b.end_date }.each do |education| %>
        <tr>
          <td>
              <%= link_to education.name, education %>
          </td>
          <td>
            <%- if !education.more_info.nil? %>
              <%= education.more_info %>
            <%- end %>
          </td>
          <td>
            <%- if !education.start_date.nil? %>
              <%= education.start_date %>
            <%- end %>
          </td>
          <td>
            <%- if !education.end_date.nil? %>
              <%= education.end_date %>
            <%- end %>
          </td>
          <td>
            <%- if !education.company.nil? %>
              <%= education.company %>
            <%- end %>
          </td>
          <td>
            <%- if !education.city.empty? %>
              <%- education.city.each do |city| -%>
                <%= link_to city.name, city %>
              <%- end -%>
            <%- end -%>
          </td>
          <td>
            <%- if !education.province.empty? %>
              <%- education.province.each do |province| -%>
                <%= link_to province.name, province %>
              <%- end -%>
            <%- end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">

var nodes = [
    {
      name: 'Home',
      url: '/',
      target: [0]
    },
    {
      name: 'Provinces',
      url: '/provinces',
      target: [0]
    },
    {
      name: 'Education (you are here)',
      url: '/education',
      target: [0]
    },
    {
      name: 'Work Experience', //5 
      url: '/jobs',
      target: [0]
    },
    {
      name: 'Volunteer Work',
      url: '/volunteer_work',
      target: [0]
    },
    {
      name: 'Skill Categories',
      url: '/skill_categories',
      target: [0]
    }
  ];
</script>
<script type="text/javascript" src="/js/ResumeIndexMenuinD3.js"></script>